{% extends 'mainapp/base.html' %}

{% block title %}
    <title>Контакты</title>
{% endblock %}
{% block content %}
    <div >
	<h1>Напишите нам</h1>
	<form>
		Имя <input  type="text" placeholder="Name"> <br>
		Email <input   type="email"  placeholder="email@mail.ru"> <br>
		Тема <input  type="text" placeholder="Ваша тема"> <br>
		Текстовое поле <input  type="text" placeholder="Письмо"> <br>
		<button  type="submit">Отправить</button>
		<button  type="reset">Удалить</button>
	</form>
		<h3>Адрес</h3>
		<p>
		Контактный номер телефона интернет-магазина : 8555 777 44 <br>
		Адрес: г. Тегеран, улица Паменар 418 <br>
		Email : tarvusdanya@gmail.com <br>
		<script  type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af542ace2ebadf59a0b2c511b8fcdfd0ee84066e3bfe9f83f4efc462a4349adff&amp;width=100%&amp;height=374px&amp;lang=ru_RU&amp;scroll=true"></script>
	</p>
	<div >
	<p >Все права защищены &copy Prosmitsky</p>
	</div>
</div>
{% endblock %}
</html>